/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #191919;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

h2.titulo span {
    color: #f9004d;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo h2 {
    color: #ffffff;
    font-size: 40px;
}

header .logo h2 span {
    color: #f9004d;
}

header a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: #f9004d;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
}

/* ESTILO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    color: white;
    font-size: 75px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #f9004d;
}

.topo-do-site .txt-topo-site h3 {
    color: white;
    font-size: 25px;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

section.sobre .img-sobre img {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    border: 2px solid #f9004d;
    position: relative;
}

.sobre .txt-sobre {
    color: #ffffff;
}

.sobre .txt-sobre h2 {
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p {
    color: #e2b9c6;
    font-size: 22px;
    margin: 22px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-sobre button {
    color: white;
    background-color: #f9004d;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    text-decoration: none;
}

.sobre .txt-sobre .btn-sobre button:hover {
    background-color: #000000;
    border: 3px solid #f9004d;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
}

/* ESTILO DO PORTFOLIO 1*/

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO PORTFOLIO 2*/

.img-port-card {
    background-color: #000000;
    height: 460px;
    width: 360px;
    border-radius: 40px;
    padding: 7% 35px;
    text-align: center;
    position: relative;
}

.img-port-card img {
    height: 100px;
}

.img-port-card h5 {
    color: white;
    font-size: 24px;
}

.img-port-card p {
    color: #e2b9c6;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img-port-card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.img-port-card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}

/* ESTILO DO RODAPE */

footer {
    background-color: #000000;
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .txt-footer h5 {
    color: white;
    font-size: 30px;
}

footer .txt-footer p {
    color: white;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.btn-social {
    display: flex;
    gap: 15px;
}

.btn-social img {
    height: 28px;

}

.btn-social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media screen and (max-width: 1020px) {
    section div {
        flex-direction: column;
    }
}